# day3 concepts
 Functions and Module

In [ ]:
def greet(name):
  print("Hello,"+ name+"!")

greet("Alice")

Hello,Alice!

# position Argument

In [ ]:
def add(a, b):
   return a + b
print(add(5, 3))

8

*keyword argument*

In [ ]:
def greet(name, message):
  print(message + ", " + name + "!")
greet(name="allice", message="Hello")

Hello, allice!

*variable length argument*

In [ ]:
def sum_number(*numbers):
   return sum(numbers)
print(sum_number(1,2,3,4))

10

# variable arguments

In [ ]:
def describe_person(name, age, **info):
  print("Name:", name)
  print("Age:", age)
  print("Additional Info:")
  for key, value in info.items():
    print(key + ":" ,value) # Indented this line to be part of the for loop
describe_person("Alice",25, city="New your",country="USA")

Name: Alice
Age: 25
Additional Info:
city: New your
country: USA

**RETURN STATEMENT**

In [ ]:
def square(num):
  return num * num

result = square(5)
print(result)

25

In [ ]:

def square(x):
    return x * x
result = square(8)
print("Square is:",result)

result = square(4)
print("Square is:",result)

Square is: 64
Square is: 16

# Module

1.   import modules
2.   import specific function

In [ ]:
import math
print(math.sqrt(16))

4.0

In [ ]:
from math import pi, sin
print(pi)
print(sin(math.radians(90)))

3.141592653589793
1.0

In [ ]:
def greet(name):
  print("hello,"+name)
def add(a,b):
  return a+b

  import manvish

  manvish.greet("alice")
  print(manvish.add(5,3))

write a function to check if a number is prime

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
print(is_prime(7))
print(is_prime(10))

True
False

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter a number:"))
if is_prime(number):
    print("The number is print.")
else:
    print("The number is not a prime.")

Enter a number:3
The number is print.

2.Create a Function to Generate Fibonacci Sequence

In [ ]:
def fibonacci(n):
  sequence = []
  a, b = 0, 1
  for _ in range(n):
    sequence.append(a)
    a, b = b, a + b
  return sequence

# Get input from the user
terms = int(input("Enter the number of terms: "))

# Calculate and print the Fibonacci sequence
result = fibonacci(terms)  # Store the result for clarity
print("Fibonacci sequence:", result)

Enter the number of terms: 8
Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13]

3.use the 'math' Module to Solve a problem

In [ ]:
import math

angle = float(input("Enter an angle in degrees: "))
radian = math.radians(angle)

# Corrected print statements
print("Sine of angle:", math.sin(radian))  # Use commas to separate values for printing
print("Cosine of angle:", math.cos(radian))

Enter an angle in degrees: 56
Sine of angle: 0.8290375725550417
Cosine of angle: 0.5591929034707468

*11.Factirial Using Recusion*

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 2
Factorial: 2

*Fibonacci Series Using Functions*

In [ ]:
def fibonacci(n):
  a, b = 0, 1
  for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b


count = int(input("Enter the number of terms: "))
fibonacci(count)

Enter the number of terms: 25
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368

15.Find GCD of two Numbers Using a Function

In [ ]:
from binascii import b2a_base64
def gcd(a,b):
  while b:
    a,b=b,a%b

    return a
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
print("GCD:",gcd(num1,num2))

Enter first number:25
Enter second number:36
GCD: 36