#**DAY** 4:  DATA Structures in Python

In [ ]:
# creating list with same data type
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [1, 2, 5, 'raj']
print(a)

[1, 2, 5, 'raj']

In [ ]:
#sort()
omkar = [1,7,2,8,3,9]
omkar.sort()
print(omkar)

[1, 2, 3, 7, 8, 9]

In [ ]:
#Iterating Through a List
for i in omkar:
  i*2
  print(i)

9
3
8
2
7
1

In [ ]:
x = (1,2,3,4,5,6,7,8,9,10)
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

list operation
Accessing Iteams

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[0])
print(numbers[-1])
print(numbers[1:4])

10
50
[20, 30, 40]

modifying Iteams

In [ ]:
numbers[0]=10
print(numbers)

[10, 20, 30, 40, 50]

Adding Iteams

In [ ]:
numbers = [10, 20, 30, 40, 50]  # Sample list
numbers.append(6)  # Appends 6 to the list
print(numbers)  # Prints the updated list

[10, 20, 30, 40, 50, 6]

'insert()'

In [ ]:
numbers.insert(1,15)
print(numbers)

[10, 15, 15, 20, 30, 40, 50, 6]

Removing Items

In [ ]:
numbers.remove(10)

print(numbers)

[15, 15, 20, 30, 40, 50, 6]

*'pop'*

In [ ]:
numbers.pop(2)  # Removes the item at index 2
print(numbers)

[15, 15, 30, 40, 50, 6]

In [ ]:
#reverse()
omkar = [1,7,2,8,3,9]
omkar.reverse()
print(omkar)

[9, 3, 8, 2, 7, 1]

Iterating Through a list

In [ ]:
for num in numbers:
  print(num)

15
15
30
40
50
6

# Tuples

**creating a tuple**

In [ ]:
coordinates=(10,20,30)
print(coordinates)

(10, 20, 30)

In [ ]:
#Accessing Iteams in a Tuple
print(coordinates[0])

10

Dictionaries

In [ ]:
#Dictionaries
student = {
    "name":"Alice",
    "age":20,
    "marks":85,
}
print(student)

{'name': 'Alice', 'age': 20, 'marks': 85}

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[0])
print(numbers[-1])
print(numbers[1:4])

10
50
[20, 30, 40]

In [ ]:
#Modifying:
student["age"]=21
print(student)

{'name': 'Alice', 'age': 21, 'marks': 85}

In [ ]:
#Adding:
student["grade"]="A"
print(student)

{'name': 'Alice', 'age': 21, 'marks': 85, 'grade': 'A'}

In [ ]:
#Removing:
del student["marks"]
print(student)

{'name': 'Alice', 'age': 21, 'grade': 'A'}

In [ ]:
#Iterating Through a Dictionary
for key,value in student.items():
  print(key,value)

name Alice
age 21
grade A

#SET's

In [ ]:
#creating a set
numbers = {1,2,3,4,5}
print(numbers)

{1, 2, 3, 4, 5}

In [ ]:
#Set opreations
#Adding Iteams

numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Removing Iteams
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Set Operations
u'set1|set2'
u'set1&set2'
u'set1-set2'

'set1-set2'

#Hands-on Practice

In [ ]:
#1.Manipulating Lists
fruits = ["apple","banana","cherry"]
fruits.append("orange")
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'orange']

In [ ]:
#Creating a Dictionary
book={
    "title":"python Basics",
    "author":"John Dor",
    "year":2021
}
print(book["title"])
book["year"]=2022
print(book)

python Basics
{'title': 'python Basics', 'author': 'John Dor', 'year': 2022}

In [ ]:
#Working with Sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}
print("Union:",set1|set2)
print("Intersection:",set1 & set2)
print("Difference:",set1 - set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [ ]:
#16.Merge Two Lists
list1 = [1,2,3]
list2 = [4,5,6]
merged_list=list1+list2
print("Merged List:",merged_list)

Merged List: [1, 2, 3, 4, 5, 6]

In [ ]:
#17. DICTIONARY OPERTIONS
student = {"name":"John","age":21,"marks":85}
print("Name:",student["name"])
student["marks"]=90
print("Updated Marks:",student["marks"])

Name: John
Updated Marks: 90

In [ ]:
#18.Find the Maximum and Minimum in a List
numbers = [10,20,30,40,50]
print("Maximum:",max(number))
print("Minimum:",min(number))

Maximum: 4
Minimum: 1

In [ ]:
#19.count Frequency of Elements in a List
number = [1,2,2,3,3,3,4,4,4,4]
frequency={}
for num in number:
  frequency[num]=frequency.get(num,0)+1
  print("Frequency of elements:",frequency)

Frequency of elements: {1: 1}
Frequency of elements: {1: 1, 2: 1}
Frequency of elements: {1: 1, 2: 2}
Frequency of elements: {1: 1, 2: 2, 3: 1}
Frequency of elements: {1: 1, 2: 2, 3: 2}
Frequency of elements: {1: 1, 2: 2, 3: 3}
Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 1}
Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 2}
Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 3}
Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
#20 sort a list of tuples by the the second Elements
tuples = [(1,'apple'),(2, 'banana'),(3,'cherry')]
sorted_tuples=sorted(tuples,key=lambda x:x[1])
print("Sorted tuples:",sorted_tuples)

Sorted tuples: [(1, 'apple'), (2, 'banana'), (3, 'cherry')]

In [ ]:
#palindrome number

number = int(input("Enter a number:"))
reverse_number = 0
temp = number
while temp > 0:
  digit = temp % 10
  reverse_number = reverse_number * 10 + digit
  temp = temp // 10
if number == reverse_number:
  print(f"{number} palindrome")
else:
  print(f"{number} not palindrome")

Enter a number:344
344 not palindrome

In [8]:
number = input("Enter a number:")
if number == str(number)[::-1]:
  print("palindrome")
else:
  print("Not palindrome")
  print("Not palindrome")

Enter a number:1
palindrome

In [22]:
class Solution(object):
    def isPalindrome(self, x):
        """
        :type x: int
        :rtype: bool
        """
        if x < 0:
            return False
        reversed_num = 0
        temp = x

In [23]:
class Solution(object):
    def isPalindrome(self, x):
        """
        :type x: int
        :rtype: bool
        """
        if x < 0 or (x % 10 == 0 and x != 0):
            return False

        reversed_half = 0
        while x > reversed_half:

            reversed_half = reversed_half * 10 + x % 10
            x //= 10


        return x == reversed_half or x == reversed_half // 10


solution = Solution()
print(solution.isPalindrome(121))
print(solution.isPalindrome(-121))
print(solution.isPalindrome(10))
print(solution.isPalindrome(0))

True
False
False
True